# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [3]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [18]:
df = pd.read_csv("Orders.csv")
display(df.shape)
df.head(2)

(397924, 14)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [32]:
df["amount_spent"][df["CustomerID"]==14646].sort_values(ascending = 0)

308097    4992.00
394417    2577.60
141691    1392.00
297615    1244.16
91372     1056.00
           ...
319027       0.39
223933       0.00
223934       0.00
223932       0.00
223931       0.00
Name: amount_spent, Length: 2080, dtype: float64

In [34]:
df_pos = df[df["amount_spent"]>0]
df_pos = df_pos.drop_duplicates()
df_pos = df_pos.pivot_table(values = ["amount_spent"], index=["CustomerID"], aggfunc = {"amount_spent":"sum"}).sort_values(["amount_spent"], ascending = 0)
labels = ["standard_cust","preferred_cust","vip_cust"]
a = df_pos["amount_spent"].max()
b = df_pos["amount_spent"].max()*0.95
c = df_pos["amount_spent"].max()*0.75
bins = pd.cut(df_pos['amount_spent'],[df_pos["amount_spent"].min(),c,b,a], labels = labels)
bins = pd.DataFrame(bins)
bins

              amount_spent
CustomerID
14646             vip_cust
18102       preferred_cust
17450        standard_cust
16446        standard_cust
14911        standard_cust
...                    ...
16878        standard_cust
17956        standard_cust
16454        standard_cust
14792        standard_cust
16738                  NaN

[4338 rows x 1 columns]

In [24]:
df = df.drop_duplicates()

In [25]:
# use pivot table
df_cust = df.pivot_table(values = ["amount_spent"], index=["CustomerID"], aggfunc = {"amount_spent":"sum"}).sort_values(["amount_spent"], ascending = 0)
df_cust.head()

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06

In [19]:
df_cust.tail()

            amount_spent
CustomerID
17956              12.75
16454               6.90
14792               6.20
16738               3.75
13256               0.00

In [28]:
# group_cust = df.groupby(['CustomerID']).agg({'amount_spent':sum})
# group_cust
df_range = df_cust["amount_spent"].max()-df_cust["amount_spent"].min()
df_range

280206.02

In [26]:
labels = ["standard_cust","preferred_cust","vip_cust"]
a = df_cust["amount_spent"].max()
b = df_cust["amount_spent"].max()*0.95
c = df_cust["amount_spent"].max()*0.75
bins = pd.cut(df_cust['amount_spent'],[df_cust["amount_spent"].min(),c,b,a], labels = labels)
bins = pd.DataFrame(bins)
bins

              amount_spent
CustomerID
14646             vip_cust
18102       preferred_cust
17450        standard_cust
16446        standard_cust
14911        standard_cust
...                    ...
17956        standard_cust
16454        standard_cust
14792        standard_cust
16738        standard_cust
13256                  NaN

[4339 rows x 1 columns]

why do I get only 1 vip and 1 preferred?

In [6]:
# NOTES

KeyError: "None of [Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,   47,\n            ...\n            3307, 3308, 3309, 3310, 3311, 3312, 3313, 3314, 3315, 3316],\n           dtype='int64', name='CustomerID', length=297)] are in the [index]"

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [ ]:
# your code here

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here

from giancarlo

In [ ]:
countries = orders.groupby(['Country','status'])['CustomerID'].nunique().reset_index()