# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [88]:
# Import libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [71]:
# Importing the dataset
po = pd.read_csv("pokemon.csv")
po

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [72]:
# your code here
po["Total0"] = po["HP"] + po["Attack"] + po["Defense"] + po["Sp. Atk"] + po["Sp. Def"] + po["Speed"]

In [73]:
def check(row):
    if row["Total"] == row["Total0"]:
        return 1
    else:
        return 0

po["Check"] = po.apply(check, axis = 1)
po["Check"].value_counts()
# yes the formula works on all pokemon

1    800
Name: Check, dtype: int64

In [74]:
# another way around to go there
po["Total_Sum"] = po.iloc[:,5:11].sum(axis=1) == po["Total"]
print(po["Total_Sum"].value_counts())
# cool, try it

True    800
Name: Total_Sum, dtype: int64

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [80]:
type1 = po[["Type 1"]].copy()
type2 = po[["Type 2"]].copy()
type1

      Type 1
0      Grass
1      Grass
2      Grass
3      Grass
4       Fire
..       ...
795     Rock
796     Rock
797  Psychic
798  Psychic
799     Fire

[800 rows x 1 columns]

In [87]:
encoder = OneHotEncoder().fit(type1)
# putting the mold to work for the categorical data (?), then make an array out of it
po_encoded1 = encoder.transform(type1).toarray()
# getting the column names
cols1 = encoder.get_feature_names_out(input_features=type1.columns)
# turning it into dataframe
onehot_encoded1 = pd.DataFrame(po_encoded1, columns = cols1)
onehot_encoded1

,Type 1_Bug,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,Type 1_Grass,Type 1_Ground,Type 1_Ice,Type 1_Normal,Type 1_Poison,Type 1_Psychic,Type 1_Rock,Type 1_Steel,Type 1_Water
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
799,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

[ 9  9  9  9  6  6  6  6  6 17 17 17 17  0  0  0  0  0  0  0 12 12 12 12
 12 12 12 12 13 13  3  3 10 10 13 13 13 13 13 13  4  4  6  6 12 12 13 13
  9  9  9  0  0  0  0 10 10 12 12 17 17  5  5  6  6 17 17 17 14 14 14 14
  5  5  5  9  9  9 17 17 15 15 15  6  6 17 17 17  3  3 12 12 12 17 17 13
 13 17 17  8  8  8  8 15 14 14 17 17  3  3  9  9 10 10  5  5 12 13 13 10
 10 12  9 12 12 17 17 17 17 17 17 14  0 11  3  6  0  0 12 17 17 17 17 12
 12 17  3  6 12 15 15 15 15 15 15 12 11  3  6  2  2  2 14 14 14 14  9  9
  9  6  6  6 17 17 17 12 12 12 12  0  0  0  0 13 17 17  3  4 12  4  4 14
 14  3  3  3  3  9 17 17 15 17  9  9  9 12  9  9  0 17 17 14  1  1 17  8
 14 14 12  0  0 12 10 16 16  4  4 17  0  0  0  0  0  1 12 12  6  6 11 11
 17 17 17 11 17 16  1  1  1 17 10 10 12 12 12  5  5 11  3  6 12 12  3  6
 17 15 15 15 15 14  6 14  9  9  9  9  6  6  6  6 17 17 17 17  1  1 12 12
  0  0  0  0  0 17 17 17  9  9  9 12 12 17 17 14 14 14 14  0  0  9  9 12
 12 12  0  0  0 12 12 12  5  5 12 15 12 12  1  1 16 16 16 16 16 16  5  5
  5  3  3  3  3  3  0  0  9 13 13 17 17 17 17 17  6  6  6  6 14 14 12 10
 10 10  9  9 12  2  2 12 13 15 15 17 17 17 17 10 10 15 15 15 15 17 17 12
 12  8  8  8  8  8  9 14  1  1 14 11 11 11 11 11 11 17 17 17 17 17  2  2
  2  2 16 16 16 16 15 11 16  2  2  2  2 17 17 10 10  2  2 16 14 14 14 14
  9  9  9  6  6  6 17 17 17 12 12 12 12 12  0  0  3  3  3  9  9 15 15 15
 15  0  0  0  0  0  0  0  3 17 17  9  9 17 17 12  8  8 12 12 12  8  1 12
 12 14 13 13 16 16 15 14 12 12  8  2  2  2  2 12  5  5  5 10 10 13 13 13
 13  9 17 17 17  9  9  9  1  3 12 10  9  3  6  4  0  9 11 10 11 12 14 14
 15  8 11  3  3  3  3  3  3 14 14 14 16 17  6 12  8  8 14 17 17  1  9  9
 12 14  9  9  9  6  6  6 17 17 17 12 12 12 12 12  1  1  9  9  6  6 17 17
 14 14 12 12 12  3  3 15 15 15 14 14 10 10 12 12  5  5  5 17 17 17  5  5
  0  0  0  0  0  0  9  9  9  9 17 10 10 10  6  6  6  9  0  0  1  1 14  8
  8 17 17 15 15 13 13  1  1 12 12 14 14 14 14 14 14 17 17 11 11 11 12 12
  3  0  0  9  9 17 17 17  0  0  9  9 16 16 16  3  3  3 14 14  8  8  8  2
  2  2 11 11 11  0  0 10  5  5  2 10 10  1  1 12 12 12  1  1  6  0  1  1
  1  0  0 16 15  9  7  7  3  3  2  2 10 10  2  2  2 17 17 12 12  0  9  9
  9  6  6  6 17 17 17 12 12 12  6  6  0  0  0  6  6  4  4  4  9  9  5  5
 12 14 14 14 16 16 16 16  4  4  4  4  1  1 15 15 13 13 17 17  3  3 15 15
 15 15  4  5  3 15  2  2  2 16  8  8  8  8  8  8  8  8  8  8 11 11  7  7
  4  1  2 15 15 14 14  6]
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

d:\Python 3.10\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [61]:
bestpokemon = pd.get_dummies(po["Type 1"]) + pd.get_dummies(po["Type 2"])
bestpokemon

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
796,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
797,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
798,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
799,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [ ]:
# your code here

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [ ]:
# your code here